<%= provide(:title, "Front page") %>
<% content_for :header do %>
  <p class="left">Front page</p>
<% end %>
<%= content_for :sidebar do %>
  <div class="sidebar-main">

  </div>
<% end %>
<% if current_user %>
  <% current_user.feed.each do |post| %>
    <%= render 'post_preview', post: post %>
  <% end %>
<% end %>
