<%= provide(:title, "Inbox") %>
<% content_for :header do %>
  <p class="left">Inbox</p>
<% end %>
<% @conversations.each do |conversation| %>
  <% if conversation.recipient_id == current_user.id || conversation.sender_id == current_user.id %>
    here
  <% end %>
<% end %>
