@import 'purecss';

$twilight-lavender: #8d3b72;
$pomp-and-power: #8a7090;
$shiny-shamrock: #62a87c;
$pastel-green: #81e979;
$pale-blue: #72e1d1;
$bg-gray: #f7f7f7;
$text-color: #222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin block_shadow {
  -webkit-box-shadow: 0px 6px 13px -3px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 6px 13px -3px rgba(0,0,0,0.51);
  box-shadow: 0px 6px 13px -3px rgba(0,0,0,0.51);
}

html, body {
  height: 100%;
  color: $text-color;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Source Sans Pro", sans-serif;
}

.sidebar {
  -webkit-box-shadow: -15px 0px 24px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: -15px 0px 24px 7px rgba(0,0,0,0.5);
  box-shadow: -15px 0px 24px 7px rgba(0,0,0,0.5);
  height: 100vh;
  z-index: 99;
  font-size: 14px;
  a {
    color: $text-color;
    text-decoration: none;
  }
}

.main {
  background-color: $bg-gray;
}

.logo {
  display: inline-block;
  font-size: xx-large;
  font-family: 'PT Sans Caption', sans-serif;
  margin-bottom: 0;
  margin-top: 25px;
}

.logo-sign {
  display: inline-block;
  width: 23px;
}

.sidebar-name {
  font-size: 25px;
}

.sidebar-karma {
  font-size: large;
  font-weight: bolder;
  display: inline;
  margin: 0;
}

.sidebar-main {
  padding-left: 20px;
}

.header {
  height: auto;
  clear: both;
  z-index: 9999;
  overflow: visible;
  padding: 0 70px;
  p {
    display: inline-block;
    margin-top: 40px;
  }
  .left {
    font-size: x-large;
  }
  display: flex;
  justify-content: space-between;
}



.content {
  @include block_shadow;
  padding: 30px 30px;
  margin: 0 40px;
  overflow: auto;
  background-color: white;
}

.user-header {
  position: relative;
}

.user-page {
  img, h2, p {
    display: inline-block;
  }

  h2, p {
    margin: 0 20px;
  }

  hr {
    margin: 8px 20px;
    color: #EEE;
  }

  img {
    float: left;
    border-radius: 10px;
  }
}

.hover-tip {
  position: relative;
  display: inline-block !important;
}

.hover-tip::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px dashed $text-color;
  content: ""
}

.weekday {
  margin-top: 0;
}

.user-header-name {
  font-weight: 400;
  position: relative;
  span {
    margin-left: 5px;
  }
  a {
    text-decoration: none;
    color: $text-color;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.pure-menu-horizontal .pure-menu-children {
    right: 0;
    @include block_shadow;
}

.signup-logo {
  width: 30px;
}
